body { background: #545c6e; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 21px; display: flex; }
.block-sms-0 { color: #24b793; font-size: 21px; margin-bottom: 5px; }
.block-email-1 { color: #f79202; font-size: 17px; margin-bottom: 5px; }
.block-filter-2 { color: #a53b7f; font-size: 20px; margin-bottom: 5px; }
.block-router-3 { color: #39ef64; font-size: 21px; margin-bottom: 5px; }
.block-token-4 { color: #613f4f; font-size: 17px; margin-bottom: 5px; }
.block-router-5 { color: #15d0a4; font-size: 17px; margin-bottom: 5px; }
.block-search-6 { color: #1df900; font-size: 20px; margin-bottom: 5px; }
.block-payment-7 { color: #bbafb8; font-size: 17px; margin-bottom: 5px; }
.block-database-8 { color: #a5e83; font-size: 12px; margin-bottom: 5px; }